---
import { getCollection } from "astro:content";
import Squares from "../squares/Squares.jsx";
import SocialButtons from "../SocialButtons.tsx";
import LocationBadge from "../LocationBadge.tsx";

const profile = await getCollection("profile");
---

<div class="relative flex items-center justify-center min-h-screen">
  <Squares
    client:load
    direction="diagonal"
    speed={0.2}
    borderColor="#F1F5F9"
    squareSize={60}
    hoverFillColor="#222"
    className="absolute inset-0 -z-10"
  />
  <div class="flex justify-between w-[1600px]">
    <div class="flex flex-col gap-[15px] w-[800px]">
      <h3 class="font-bold text-4xl">{profile[0].data.name}</h3>
      <h1 class="font-bold text-9xl tracking-[-2px] leading-[125px]">
        <span class="text-primary">Front</span><span>end</span>
        <br />
        Development.
      </h1>
      <p class="text-2xl text-text-secondary">
        {profile[0].body}
      </p>
      <LocationBadge
        client:load
        country={profile[0].data.country}
        city={profile[0].data.city}
      />
    </div>
    <img
      src={profile[0].data.avatar}
      alt={profile[0].data.name}
      class="h-[400px]"
    />
    <div class="flex flex-col justify-end">
      <SocialButtons client:load social={profile[0].data.social} />
    </div>
  </div>
</div>
